<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pharmacies</title>
</head>
<body>
<h1>Pharmacies</h1>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Address</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pharmacy : ${pharmacies}">
        <td><a th:href="@{/view/pharmacies/{id}(id=${pharmacy.id})}" th:text="${pharmacy.name}">Name</a></td>
        <td th:text="${pharmacy.address}">Address</td>
    </tr>
    </tbody>
</table>
<br/>
<hr/>
<a href="/view/pharmacies/add"/>Add new pharmacy</a>
<hr/>
<a href="/">Back to Welcome Page</a>
</body>
</html>
